header nav a {
  color: white;
}

header nav a:hover {
  font-weight: 600;
  color: white;
  font-size: 17px;
}

.container {
  background-color: #e9ecef;
}

#interface {
  margin-top: 15px;
  padding: 45px;
  
}

div.contact{
  text-align: center;
}

div.contact img {
  width: 80px;
  height: 80px;
}

table#filmes td img {
  width: 25px;
}

table#filmes thead tr th {
  text-align: center;
}

form#register {
  margin: 50px auto;
}

h2.display-5 {
  text-align: center;
}

button.btn.btn-dark {
  width: 200px;
  margin-top: 20px;
}

footer#rodape {
  text-align: center;
  font-style: italic;
  font-weight: 600;
  width: 50vw;
  margin-right: auto;
  margin-left: auto;
}
