<header>
  <nav id="nav" class="navbar navbar-light bg-dark">
    <div class="container bg-dark">
      <a href="/">Logo</a>
      <ul id="menu" class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/movies">Filmes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Cadastro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contato</a>
        </li>
      </ul>
    </div>
  </nav>
</header>